header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0.8rem;
  background-color: #0051B3;
  color: #fff;
  font-family: 'Kaushan Script', cursive;
  font-size: 18px;
}
